/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
* {
    font-family: 'Poppins';
}

/* VARIABLES COLORS */
:root {
    --greenprimary : #88AE27;
    --blackhover : black;
}

/* BODY MARGIN */
body {
    padding-top: 130px;
}

/* CHANGE BTN PRIMARY COLORS */
.btn-primary {
    background-color: var(--greenprimary) !important;
}
.btn-primary:hover {
    background-color: var(--blackhover) !important;
}

/* TEXT VARIABLE COLOR */
.green-text {
    color: var(--greenprimary);
}

/* ARTICLE PRESET */
.article-layout {
    margin-top: -40px;
    background-color: white;
}
.article-date {
    font-size: 1rem;
}