/*  PAGE INDEX */
/* Navbar + hero */
.navbar-brand img {
    width: 8em;
}

/* CHRONOLOGIE */
.chronologie {
    font-family: 'Poppins';
}
.start-date {
    font-weight: 600;
    font-size: 1.2em;
}

/* FOOTER */
.footer div h6 a {
    text-decoration: none;
}
.footer-brand img {
    width: 10em;
}

/* PAGE EVENTS */
/* IMG HEADER */
.hero-events {
    height: 250px;
    background: url(/Images/webp/img-header-events.webp);
    background-size: cover;
    margin-top: -35px;
}

/* CARDS */
.card-date {
    font-size: 1rem;
}