/* Navbar + hero */
.navbar-brand img {
    width: 8em;
}
.navbar-nav li {
    font-family: 'Poppins';
}
.hero {
    font-family: 'Poppins';
}

/* CHRONOLOGIE */
.chronologie {
    font-family: 'Poppins';
}
.start-date {
    font-weight: 600;
    font-size: 1.2em;
}

/* PRESIDENT */
.president {
    font-family: 'Poppins';
}

/* FOOTER */
footer {
    font-family: 'Poppins';
}
.footer div h6 a {
    text-decoration: none;
}
.footer-brand img {
    width: 10em;
}